* {
 display: flex;
 box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  border: 4px solid red;
}

.top{
 justify-content: center;
}

.middle{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator{
  background-color: #888888;
}

#topLip{
  height: 30px;
  width: 900px;
  background-color: #777777;
  flex-direction: column;
  border-bottom: 4px solid black;
}

#topSection{
  height:200px;
  flex-direction: column;
  border: 2px solid blue; 
}

#supContainer{
  width: 860px;
  flex-direction: row;
  justify-content: flex-end;
}

#supContainer div{
  padding-right: 10px;
}

.display{
  width: 900px;
  height: 100px;
  background-color: #888888;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#outer{
  border-bottom: 6px solid teal;
  height: 170px;
  align-items: center;
  justify-content: center;
}

#textured{
  background-color: #999999;
  align-items: center;
  justify-content: center;
  width: 860px;
}

#slate{
  background-color: #BBBBBB;
  width: 510px;
  padding: 4px 22px;
}

#backing{
  background-color: beige;
  width: 470px;
  padding: 9px 22px;
}

#workZone{
  background-color: #1DF9BD;
  width: 410px;
}

#subContainer{
 flex-direction: row;
 justify-content: space-between;
}

#subContainer *{
  margin: 4px;
  flex-direction: row;
  width: 70px;
  height: max-content;
}

#subContainer #left{
  width: 200px;
  justify-content: flex-begin;
  border: 3px solid yellow;
}

#subContainer #right{
  width: 300px;
  justify-content: flex-end;
  border: 3px solid yellow;
}

#mainBody{
  height: 700px;
  width: 900px;
  flex-direction: column;
  align-items: center;
}

.footer{
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 70px;
  letter-spacing: 4px;
  width: 2000px;
}
